:root {
  --primary-color: #CC061D;
  --black-color: black;
  --white-color: white;
  --bg-color: #EFEDFF;
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: "Poppins";
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/Shoe-hero.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-position-x: 20%;
  background-position-y: 20%;
  -webkit-animation: introLoad 1s forwards;
          animation: introLoad 1s forwards;
}

.navbar {
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  text-align: end;
  cursor: pointer;
  height: 20px;
  padding-top: 5px;
}

section {
  padding: 5em 2em;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--white-color);
  height: 100vh;
  width: 50%;
  z-index: 1;
  transform: translatex(100%);
  transition: transform 0.5s ease-in-out;
}
nav .nav-menu {
  padding: 0;
  margin-top: 3.4em;
  width: auto;
  place-content: end;
}
nav ul {
  display: block;
  list-style: none;
  font-size: 1.2em;
}
nav ul a {
  color: black;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 1em 2em;
}
nav ul a:hover {
  background: rgb(216, 216, 216);
  width: 100%;
}
nav ul .current {
  font-weight: 700;
}
nav .mobile-exit {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 999;
}

.open-nav {
  transform: translateX(0);
}

section {
  padding: 5em 2em;
}

.hero-section {
  padding: 0 2em 0 2em;
  -webkit-animation: heroDown 1s ease-in-out forwards;
          animation: heroDown 1s ease-in-out forwards;
  opacity: 0;
}

.left-col {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.left-col h1 {
  padding-top: 2em;
  font-size: 2.5em;
  color: var(--white-color);
}
.left-col p {
  color: var(--white-color);
  padding-right: 7em;
}
.left-col svg {
  position: absolute;
  height: 7em;
  bottom: 0em;
  fill: var(--white-color);
  animation: moveArrow 1s alternate-reverse infinite;
}
.left-col svg path {
  fill: var(--white-color);
}

.product-section {
  padding-top: 9em;
  text-align: left;
}
.product-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 680px) {
  .hero-section h1 {
    padding-top: 2em;
    padding-right: 4em;
    font-size: 3.5em;
    color: var(--white-color);
  }
  .hero-section p {
    padding-right: 20em;
  }
  .product-section h3 {
    font-size: 2em;
  }
  nav .nav-menu {
    margin-top: 0.2em;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  .mobile-menu {
    display: none;
  }
  .container a.logo {
    color: black;
  }
  .container a.logo .logo-red {
    color: var(--primary-color);
  }
  nav {
    transform: translateX(0);
    background: none;
    position: unset;
    height: 0;
    padding: 0;
  }
  nav ul {
    display: flex;
  }
  nav ul a {
    padding: 0 3em 0 0;
    justify-content: end;
    display: flex;
    color: var(--white-color);
  }
  nav ul a:hover {
    background: none;
    color: var(--white-color);
  }
  nav ul li.current a {
    color: var(--white-color);
  }
  nav .mobile-exit {
    display: none;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 45%;
    background-size: cover;
    background-position-x: 35%;
  }
  .left-col {
    width: 50%;
  }
  .left-col h1 {
    color: var(--black-color);
    padding: 3em 0 0 0;
    line-height: 1.4em;
    margin-bottom: 0.2em;
  }
  .left-col p {
    color: var(--black-color);
    padding: 0 8em 0 0;
  }
  .left-col svg {
    fill: var(--black-color);
  }
  .left-col svg path {
    fill: var(--black-color);
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-top: 10em;
    margin-bottom: 6em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
    grid-template-areas: "left right";
  }
  .feature.left img {
    grid-area: left;
    width: 25em;
  }
  .feature.left .content {
    text-align: left;
    width: 25em;
  }
}
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes heroDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heroDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */